.list-group {
    width: 325px;
    margin-top: 80px;
}

#primary {
    background: #1a1a1a;
    padding: 20px;
    height: 120px;
    position: absolute;
    top: 0px;
    width: 325px;
}

#secondary {
    background: #1a1a1a;
    padding: 20px;
    width: 325px;
    height: 290px;
}

img {
    margin-top: 40px;
}

.jumbotron {
    float: right;
    width: 1120px;
    margin-right: 50px;
    height: 674px;
}

.familyPicture {
    margin-left: 160px;
}

body {
    background: gainsboro!important;
}

.list-group-item.active {
    background: gainsboro!important;
    color: black!important;
}

@media only screen and (max-width: 1200px) {
    .jumbotron {
        width: 785px;
    }
}
@media only screen and (max-width: 900px) {
    .jumbotron {
        width: 495px;
    }
    .familyPicture {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 450px) {
    .jumbotron {
        width: 340px;
        height: 810px;
    }
    .familyPicture {
        position: static;
        margin-top: 550px;
    }
    .list-group {
        margin-left: 37px;
    }
    #primary, #secondary {
        display: none;
    }
}