.sidenav .user-view .circle {
    width: 150px;
    height: 130px;
    transform: rotate(270deg);
    margin-left: 35px;
}

.sidenav .user-view .name {
    font-size: 25px;
    margin-left: 26px;
}

.waves-effect {
    width: 307px;
    background:black;
}

.sidenav.sidenav-fixed {
    background: black;
}

body {
    background: url(./mountain_at_night-wallpaper-1920x1200.jpg)
}

#time {
    margin-left: 670px;
    color: yellow;
    margin-top: 125px;
    font-size: 65px;
}